#bodyContent {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    row-gap: 10px;
}

#gameNav {
    display:flex;
    flex-direction: row;
    column-gap: 10px;
    padding: 10px;
}

#gameNav button {
    background-color: #3f6c51;
    color: #f7f4f3;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
}

#gamePanel {
    background-color: #f7f4f3;
    border: 2px solid #3f6c51;
    width: 500px;
    height: 500px;

}